# =========================================================================
# CDSP
# =========================================================================
KMS=<IP CipherTrust Manager>
CRDP_REG_TOKEN=<Your CRDP Token in CM>
DPG_REG_TOKEN=<Your DPG Token in CM>
BDT_REG_TOKEN=<Your BDT Token in CM>
POLICY_CCCD=pol_cccd_fpe
POLICY_CC=pol_credit_card_fpe

# =========================================================================
# Database
# =========================================================================
POSTGRES_PROD_USER=hpidbank
POSTGRES_PROD_PASSWORD=Hpid@bank2026
POSTGRES_PROD_DB=hpidbank

# =========================================================================
# pgAdmin
# =========================================================================
PGADMIN_DEFAULT_EMAIL=admin@hpidbank.demo
PGADMIN_DEFAULT_PASSWORD=Admin@123

# =========================================================================
# App secrets
# APP1_SECRET_KEY: Flask session signing key
# APP2_JWT_SECRET: JWT signing key
# =========================================================================
APP1_SECRET_KEY=random_secret_value
APP2_JWT_SECRET=random_secret_value
